:root
{
    --red-text: #FE6a6a;
    --green-text: #47C7C7;
    --nord-white-1: #ECEFF4;
    --nord-white-2: #E5E9F0;
    --nord-white-3: #D8DEE9;
    --nord-gray-1: #4C566A;
    --nord-gray-2: #434C5E;
    --nord-gray-3: #3B4252;
    --javascript: #EFD81D;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    height: 100%;
}

.container
{
    display: flex;
    flex-direction: column;
    background-color: #2E3440;
    min-height: 100%;
}

.name
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    flex: 0.2;
    padding: 0 10px;
    font-size: 1.4rem;
}

.name__title
{
    color: var(--green-text);
    text-align: center;
    margin: 10px 0 0 0;
}

.name__type
{
    margin: 5px 0;
    color: var(--nord-white-3);
}

.landing
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 0.8;
}


.landing-code
{
    height: 100%;
}

.landing-info
{
    display: flex;
    padding: 0 20px 40px 20px;
    align-items: center;
}

.landing-code__container
{
    margin-bottom: 20px;
}

.landing-code__letters
{
    text-decoration: none;
    color: var(--red-text);
    font-size: 2rem;
}

.landing-info__text
{
    color: var(--nord-white-2);
    font-size: 20px;
    width: 70%;
}

.landing-info__image
{
    border-radius: 6px;
    width: 20%;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
