body, html {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #2E3440;
    min-height: 100%;
}

.name__title {
    color: #FE6A6A;
}
